@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");


  :root {
    font-size: 16px;
    /*============
    Sizes
    ============*/
    --size-title: 3rem;
    --size-subtitle: 2rem;
    --size-links-pages: 1.5rem;
    --size-button-text: 1.2rem;
    /*=============
    Fonts
    ==============*/
    --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-titles: "Ubuntu", sans-serif;
    /*============
    Main colours
    ============*/
    --color-basic-positive: hsl(174, 34%, 71%);
    --color-bg: #000000;
    --color-fg: #ffffff;
    --color-primary: hsl(0, 0%, 100%);
    --color-primary-light: #7790fe;
    --color-secondary-links: hsl(300, 76%, 72%);
    --color-primary-dark: #363895;
    --color-primary-dark-extra: #232458;
    --color-secondary: hsla(341, 59%, 50%, 1);
    --color-tertiary: hsl(39, 100%, 50%);

    /*===============
    Other colors
    ===============*/
    --color-balance: hsl(259, 25%, 48%);
    --color-breathe: hsl(6, 60%, 50%);
    --color-stretching: hsl(39, 93%, 70%);
    --color-music: hsl(19, 46%, 56%);
    --color-audio: hsl(3, 75%, 65%);
    --color-relaxation: hsl(263, 29%, 63%);
  }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-titles);
  background-image: url("https://p18.zdusercontent.com/attachment/261010/Xb79fDHoaVlT8MjDYdBmXIH9k?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..HzoVeH0FwMiW6JKocWKoag.RxdIDABxDKyXgT2_TSHlsgaMtLWPlS6J4k26EI6x8SQpQkwMtn_Bmf9G55-LMZjP8BeOwX0Auahl8cZTYCgniyMIvDrSXt_wIqQv7-_6zMYEbl1v6CsKnEhNTeSWM9zSHEfGJ-8sOAQcjMMViWS0AOQLabVPy2aoo3Tbvt4jB62Z56na3_VbWDvs4yKc9AL1nmBwlLUz45YVYe0AQRCcg2GNLYk43qXSlUPolcU5HQpj2DJXbAemS7LpGom1Z4rMmuX5cZJ6_mgN49Ujx6_5m0Ja72oWFon_C6VdwwLPO6Y.hVhI8o0feeL4XcvEwtJ3yw");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------------------------------
                  HEADER-UI
-----------------------------------------------*/

.header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  height: 3rem;
  margin: 20px auto;
}
header nav ul {
  font-size: var(--size-links-pages);
  color: var(--color-primary);
  box-shadow: 10px 5px 5px var(--color-primary);
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  align-items: center;
  width: 320px;
  cursor: pointer;
  position: relative;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary-links);
}

/*mobile navigation*/

.burguer {
  cursor: pointer;
  display: none;
}
.burguer div {
  margin: 10px;
  padding: 5px 5px 1px 1px;
}
.burguer .bar {
  background-color: var(--color-primary);
  width: 40px;
  height: 3px;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .burguer {
    display: block;
  }
  header nav ul {
    flex-flow: column wrap;
    position: absolute;
    padding: 0.2em 0.2em;
    background: var(--color-primary-light);
    transition: transform 0.3s ease-in-out;
    border-radius: 5em;
    border: 2px solid var(--color-secondary-links);
    box-shadow: none;
    transform: translateX(150%);
  }
  header nav ul li {
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}
.open {
  transform: translateX(0%);
}




